node_modules/
cloudfunctions/**/node_modules/
functions/**/node_modules/
miniprogram_npm/

.DS_Store
Thumbs.db

.vscode/
.idea/

project.private.config.json
.cloudbase/
.env
.env.*

*.log
log.txt
private*.key